* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  line-height: 1;
  font-weight: 500;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  height: 6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 4.2rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

/* Search btn */
.da {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search input[type="text"] {
  padding: 0.8rem 2.8rem;
  border-radius: 2rem;
  border: 2px solid black;
  box-sizing: border-box;
  color: black;
  background-color: transparent;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.3s;
}
.search input[type="text"]:hover {
  background-color: hsla(0, 0%, 100%, 1);
  color: inherit;
}
.search button[type="submit"] {
  background: #ddd;
  font-size: 2.7rem;
  border: none;
  background-color: transparent;
}

h1 {
  font-size: 2.7rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
